In [1]:
import os
os.getcwd()

'/home/dev/Documents/pythonDataAnalysis'

# Creating a dataFrame from an array

In [3]:
import pandas as pd
import numpy as np

In [31]:
my_array_data = [[4,5,1], [44,4,4], [3,3,44]]

In [32]:
numpy_array = np.array(my_array_data)
numpy_array

array([[ 4,  5,  1],
       [44,  4,  4],
       [ 3,  3, 44]])

In [33]:
array_dataframe = pd.DataFrame(numpy_array, index=['one', 'two', 'three'],
                              columns=['column_1', 'column_2', 'column_3'])
array_dataframe

       column_1  column_2  column_3
one           4         5         1
two          44         4         4
three         3         3        44

# Creating a dataFrame using a dictionary

In [13]:
countries = ['Angola', 'Nigeria', 'Botswana', 'South Africa']
population = [43000000, 100000000, 23000000, 60000000]
official_languages = [7, 10, 8, 12]

In [14]:
my_dictionary = {'Countries': countries, 
                 'Population': population, 
                 'Official Languages': official_languages
                }
my_dictionary

{'Countries': ['Angola', 'Nigeria', 'Botswana', 'South Africa'],
 'Population': [43000000, 100000000, 23000000, 60000000],
 'Official Languages': [7, 10, 8, 12]}

In [16]:
dictionary_dataframe = pd.DataFrame(my_dictionary)
dictionary_dataframe

      Countries  Population  Official Languages
0        Angola    43000000                   7
1       Nigeria   100000000                  10
2      Botswana    23000000                   8
3  South Africa    60000000                  12

# Creating a dataFrame from a csv file

In [4]:
my_csv_data = pd.read_csv('dataSets/organizations.csv')

In [5]:
my_csv_data

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,74fc6fDadF400Dc,"Wilcox, Griffith and Hawkins",https://tanner.com/,Cape Verde,Horizontal bi-directional artificial intelligence,1971,Professional Training,1550
1,2,4C119bee275d420,Griffin-Carey,https://levine-marks.com/,Reunion,Progressive maximized instruction set,2008,Investment Management / Hedge Fund / Private E...,4864
2,3,B47dbceC2CA3FF7,"Larson, Castaneda and Boone",http://www.ortiz.org/,South Africa,Decentralized dynamic attitude,1993,Music,7353
3,4,4Dcd663d47b37c1,"Good, Frazier and Peck",http://kane.info/,Congo,Intuitive actuating approach,2020,Information Technology / IT,2345
4,5,92BB0Be481BD1FC,Love Ltd,http://www.barrera.com/,Eritrea,Optional well-modulated budgetary management,1987,Recreational Facilities / Services,4574
...,...,...,...,...,...,...,...,...,...
999995,999996,46e2dEe2e2eA1ab,Gray Group,https://www.mcneil.com/,Turks and Caicos Islands,Vision-oriented tangible parallelism,2021,Supermarkets,6620
999996,999997,17695E14F523dfE,Lucas and Sons,https://www.nelson-potter.com/,Ireland,Advanced mission-critical archive,1990,Information Technology / IT,2511
999997,999998,BB77F9ec1EaF50c,Thomas LLC,http://www.blair.org/,Denmark,Balanced executive firmware,1983,Information Technology / IT,387
999998,999999,d565eFa362FAd4B,Dickson PLC,http://wright-duran.com/,Singapore,Object-based web-enabled function,2019,Music,2143
999999,1000000,E7F889e990DAF3F,Edwards PLC,http://petersen.com/,Nicaragua,Cross-group global architecture,2015,Museums / Institutions,2053

In [6]:
csv_dataframe = pd.DataFrame(my_csv_data)
csv_dataframe

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,74fc6fDadF400Dc,"Wilcox, Griffith and Hawkins",https://tanner.com/,Cape Verde,Horizontal bi-directional artificial intelligence,1971,Professional Training,1550
1,2,4C119bee275d420,Griffin-Carey,https://levine-marks.com/,Reunion,Progressive maximized instruction set,2008,Investment Management / Hedge Fund / Private E...,4864
2,3,B47dbceC2CA3FF7,"Larson, Castaneda and Boone",http://www.ortiz.org/,South Africa,Decentralized dynamic attitude,1993,Music,7353
3,4,4Dcd663d47b37c1,"Good, Frazier and Peck",http://kane.info/,Congo,Intuitive actuating approach,2020,Information Technology / IT,2345
4,5,92BB0Be481BD1FC,Love Ltd,http://www.barrera.com/,Eritrea,Optional well-modulated budgetary management,1987,Recreational Facilities / Services,4574
...,...,...,...,...,...,...,...,...,...
999995,999996,46e2dEe2e2eA1ab,Gray Group,https://www.mcneil.com/,Turks and Caicos Islands,Vision-oriented tangible parallelism,2021,Supermarkets,6620
999996,999997,17695E14F523dfE,Lucas and Sons,https://www.nelson-potter.com/,Ireland,Advanced mission-critical archive,1990,Information Technology / IT,2511
999997,999998,BB77F9ec1EaF50c,Thomas LLC,http://www.blair.org/,Denmark,Balanced executive firmware,1983,Information Technology / IT,387
999998,999999,d565eFa362FAd4B,Dickson PLC,http://wright-duran.com/,Singapore,Object-based web-enabled function,2019,Music,2143
999999,1000000,E7F889e990DAF3F,Edwards PLC,http://petersen.com/,Nicaragua,Cross-group global architecture,2015,Museums / Institutions,2053