In [1]:
import os
os.getcwd()

'/home/dev/Documents/pythonDataAnalysis'

# Creating a dataFrame from an array

In [2]:
import pandas as pd
import numpy as np

In [31]:
my_array_data = [[4,5,1], [44,4,4], [3,3,44]]

In [32]:
numpy_array = np.array(my_array_data)
numpy_array

array([[ 4,  5,  1],
       [44,  4,  4],
       [ 3,  3, 44]])

In [33]:
array_dataframe = pd.DataFrame(numpy_array, index=['one', 'two', 'three'],
                              columns=['column_1', 'column_2', 'column_3'])
array_dataframe

       column_1  column_2  column_3
one           4         5         1
two          44         4         4
three         3         3        44

# Creating a dataFrame using a dictionary

In [13]:
countries = ['Angola', 'Nigeria', 'Botswana', 'South Africa']
population = [43000000, 100000000, 23000000, 60000000]
official_languages = [7, 10, 8, 12]

In [14]:
my_dictionary = {'Countries': countries, 
                 'Population': population, 
                 'Official Languages': official_languages
                }
my_dictionary

{'Countries': ['Angola', 'Nigeria', 'Botswana', 'South Africa'],
 'Population': [43000000, 100000000, 23000000, 60000000],
 'Official Languages': [7, 10, 8, 12]}

In [16]:
dictionary_dataframe = pd.DataFrame(my_dictionary)
dictionary_dataframe

      Countries  Population  Official Languages
0        Angola    43000000                   7
1       Nigeria   100000000                  10
2      Botswana    23000000                   8
3  South Africa    60000000                  12

# Creating a dataFrame from a csv file

In [4]:
my_csv_data = pd.read_csv('dataSets/organizations.csv')

In [5]:
my_csv_data

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,74fc6fDadF400Dc,"Wilcox, Griffith and Hawkins",https://tanner.com/,Cape Verde,Horizontal bi-directional artificial intelligence,1971,Professional Training,1550
1,2,4C119bee275d420,Griffin-Carey,https://levine-marks.com/,Reunion,Progressive maximized instruction set,2008,Investment Management / Hedge Fund / Private E...,4864
2,3,B47dbceC2CA3FF7,"Larson, Castaneda and Boone",http://www.ortiz.org/,South Africa,Decentralized dynamic attitude,1993,Music,7353
3,4,4Dcd663d47b37c1,"Good, Frazier and Peck",http://kane.info/,Congo,Intuitive actuating approach,2020,Information Technology / IT,2345
4,5,92BB0Be481BD1FC,Love Ltd,http://www.barrera.com/,Eritrea,Optional well-modulated budgetary management,1987,Recreational Facilities / Services,4574
...,...,...,...,...,...,...,...,...,...
999995,999996,46e2dEe2e2eA1ab,Gray Group,https://www.mcneil.com/,Turks and Caicos Islands,Vision-oriented tangible parallelism,2021,Supermarkets,6620
999996,999997,17695E14F523dfE,Lucas and Sons,https://www.nelson-potter.com/,Ireland,Advanced mission-critical archive,1990,Information Technology / IT,2511
999997,999998,BB77F9ec1EaF50c,Thomas LLC,http://www.blair.org/,Denmark,Balanced executive firmware,1983,Information Technology / IT,387
999998,999999,d565eFa362FAd4B,Dickson PLC,http://wright-duran.com/,Singapore,Object-based web-enabled function,2019,Music,2143
999999,1000000,E7F889e990DAF3F,Edwards PLC,http://petersen.com/,Nicaragua,Cross-group global architecture,2015,Museums / Institutions,2053

In [6]:
csv_dataframe = pd.DataFrame(my_csv_data)
csv_dataframe.head() # Gets first five rows

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,74fc6fDadF400Dc,"Wilcox, Griffith and Hawkins",https://tanner.com/,Cape Verde,Horizontal bi-directional artificial intelligence,1971,Professional Training,1550
1,2,4C119bee275d420,Griffin-Carey,https://levine-marks.com/,Reunion,Progressive maximized instruction set,2008,Investment Management / Hedge Fund / Private E...,4864
2,3,B47dbceC2CA3FF7,"Larson, Castaneda and Boone",http://www.ortiz.org/,South Africa,Decentralized dynamic attitude,1993,Music,7353
3,4,4Dcd663d47b37c1,"Good, Frazier and Peck",http://kane.info/,Congo,Intuitive actuating approach,2020,Information Technology / IT,2345
4,5,92BB0Be481BD1FC,Love Ltd,http://www.barrera.com/,Eritrea,Optional well-modulated budgetary management,1987,Recreational Facilities / Services,4574

In [9]:
csv_dataframe.tail(10) # Gets last ten rows

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
999990,999991,7D1Af47eFF3bFDF,"Summers, Nixon and Strickland",http://www.lloyd.org/,Mauritania,Focused analyzing workforce,1993,Motion Pictures / Film,1453
999991,999992,53d5FD5Eb285a9C,"Warren, Haynes and Conrad",https://www.jones.biz/,Namibia,User-centric context-sensitive policy,1995,Consumer Services,5593
999992,999993,C5DBaE2AEEd55Fe,Vaughan-Arnold,http://barnes-shannon.info/,Georgia,Ameliorated context-sensitive budgetary manage...,2010,Shipbuilding,1471
999993,999994,EFDd613f3559ffD,Adkins-Barry,https://www.valdez-rush.biz/,Mongolia,Upgradable full-range array,2010,Philanthropy,6855
999994,999995,b12E3d61A55Bd74,Galvan-Callahan,https://www.fuller.net/,Iceland,Distributed value-added website,2004,Public Safety,8030
999995,999996,46e2dEe2e2eA1ab,Gray Group,https://www.mcneil.com/,Turks and Caicos Islands,Vision-oriented tangible parallelism,2021,Supermarkets,6620
999996,999997,17695E14F523dfE,Lucas and Sons,https://www.nelson-potter.com/,Ireland,Advanced mission-critical archive,1990,Information Technology / IT,2511
999997,999998,BB77F9ec1EaF50c,Thomas LLC,http://www.blair.org/,Denmark,Balanced executive firmware,1983,Information Technology / IT,387
999998,999999,d565eFa362FAd4B,Dickson PLC,http://wright-duran.com/,Singapore,Object-based web-enabled function,2019,Music,2143
999999,1000000,E7F889e990DAF3F,Edwards PLC,http://petersen.com/,Nicaragua,Cross-group global architecture,2015,Museums / Institutions,2053

# Some common used methods

In [10]:
import pandas as pd

In [11]:
my_csv_data = pd.read_csv('dataSets/organizations.csv')
pd.set_option('display.max_rows', 1000)
my_csv_data.index

RangeIndex(start=0, stop=1000000, step=1)

In [12]:
my_csv_data.columns

Index(['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description',
       'Founded', 'Industry', 'Number of employees'],
      dtype='object')

In [8]:
my_csv_data.max()

Index                                        1000000
Organization Id                      ffffDd5E5D1dfb0
Name                                Zuniga-Zimmerman
Website                          https://zuniga.org/
Country                                     Zimbabwe
Description            Visionary zero-defect website
Founded                                         2022
Industry                           Writing / Editing
Number of employees                             9999
dtype: object

In [9]:
my_csv_data[['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description']]

,Index,Organization Id,Name,Website,Country,Description
0,1,74fc6fDadF400Dc,"Wilcox, Griffith and Hawkins",https://tanner.com/,Cape Verde,Horizontal bi-directional artificial intelligence
1,2,4C119bee275d420,Griffin-Carey,https://levine-marks.com/,Reunion,Progressive maximized instruction set
2,3,B47dbceC2CA3FF7,"Larson, Castaneda and Boone",http://www.ortiz.org/,South Africa,Decentralized dynamic attitude
3,4,4Dcd663d47b37c1,"Good, Frazier and Peck",http://kane.info/,Congo,Intuitive actuating approach
4,5,92BB0Be481BD1FC,Love Ltd,http://www.barrera.com/,Eritrea,Optional well-modulated budgetary management
...,...,...,...,...,...,...
999995,999996,46e2dEe2e2eA1ab,Gray Group,https://www.mcneil.com/,Turks and Caicos Islands,Vision-oriented tangible parallelism
999996,999997,17695E14F523dfE,Lucas and Sons,https://www.nelson-potter.com/,Ireland,Advanced mission-critical archive
999997,999998,BB77F9ec1EaF50c,Thomas LLC,http://www.blair.org/,Denmark,Balanced executive firmware
999998,999999,d565eFa362FAd4B,Dickson PLC,http://wright-duran.com/,Singapore,Object-based web-enabled function
999999,1000000,E7F889e990DAF3F,Edwards PLC,http://petersen.com/,Nicaragua,Cross-group global architecture

In [19]:
my_csv_data.sort_values('Country', ascending=False,
                       inplace=True)

In [23]:
my_csv_data = my_csv_data[['Country', 'Number of employees']]

In [24]:
my_csv_data

            Country  Number of employees
665341     Zimbabwe                 7665
587582     Zimbabwe                 9055
800438     Zimbabwe                 9363
912764     Zimbabwe                 7248
800455     Zimbabwe                 2800
...             ...                  ...
575177  Afghanistan                 4616
877192  Afghanistan                 2979
911495  Afghanistan                 7086
120895  Afghanistan                 2208
455584  Afghanistan                 9771

[1000000 rows x 2 columns]

In [32]:
my_csv_data = my_csv_data.value_counts('Country')

In [41]:
pd.DataFrame(my_csv_data).sort_values('Country', ascending=True)

                                                    count
Country
Afghanistan                                          4058
Albania                                              4001
Algeria                                              3996
American Samoa                                       4007
Andorra                                              4203
Angola                                               4113
Anguilla                                             4097
Antarctica (the territory South of 60 deg S)         4009
Antigua and Barbuda                                  4194
Argentina                                            4070
Armenia                                              4039
Aruba                                                4133
Australia                                            4061
Austria                                              4040
Azerbaijan                                           4028
Bahamas                                              4137
Bahrain                                              4120
Bangladesh                                           4118
Barbados                                             4218
Belarus                                              4065
Belgium                                              4134
Belize                                               4147
Benin                                                3969
Bermuda                                              4003
Bhutan                                               4138
Bolivia                                              4028
Bosnia and Herzegovina                               4143
Botswana                                             4094
Bouvet Island (Bouvetoya)                            4011
Brazil                                               4052
British Indian Ocean Territory (Chagos Archipel...   4021
British Virgin Islands                               3988
Brunei Darussalam                                    4007
Bulgaria                                             4131
Burkina Faso                                         4019
Burundi                                              4116
Cambodia                                             4014
Cameroon                                             4068
Canada                                               4198
Cape Verde                                           4143
Cayman Islands                                       4054
Central African Republic                             4110
Chad                                                 4025
Chile                                                4048
China                                                4012
Christmas Island                                     4048
Cocos (Keeling) Islands                              4101
Colombia                                             4175
Comoros                                              4068
Congo                                                8219
Cook Islands                                         4056
Costa Rica                                           4082
Cote d'Ivoire                                        4136
Croatia                                              4076
Cuba                                                 4145
Cyprus                                               4058
Czech Republic                                       4135
Denmark                                              4048
Djibouti                                             4128
Dominica                                             4130
Dominican Republic                                   4115
Ecuador                                              4188
Egypt                                                4066
El Salvador                                          4138
Equatorial Guinea                                    4113
Eritrea                                              4147
Estonia                                              4046
Ethiopia                                             4155
Falkland Islands (Malvinas)                          4070
Faroe Islands                                        4140
Fiji                                                 4138
Finland                                              4172
France                                               4121
French Guiana                                        4100
French Polynesia                                     4058
French Southern Territories                          4177
Gabon                                                3960
Gambia                                               4140
Georgia                                              4081
Germany                                              4168
Ghana                                                4026
Gibraltar                                            4069
Greece                                               4101
Greenland                                            4187
Grenada                                              4067
Guadeloupe                                           4217
Guam                                                 4064
Guatemala                                            4111
Guernsey                                             4013
Guinea                                               4028
Guinea-Bissau                                        4104
Guyana                                               4024
Haiti                                                4068
Heard Island and McDonald Islands                    4005
Holy See (Vatican City State)                        4094
Honduras                                             4081
Hong Kong                                            3994
Hungary                                              4173
Iceland                                              4092
India                                                4099
Indonesia                                            4084
Iran                                                 4029
Iraq                                                 4012
Ireland                                              3937
Isle of Man                                          3998
Israel                                               4018
Italy                                                4084
Jamaica                                              4138
Japan                                                4108
Jersey                                               4091
Jordan                                               4046
Kazakhstan                                           4080
Kenya                                                4090
Kiribati                                             3974
Korea                                                8196
Kuwait                                               4160
Kyrgyz Republic                                      4163
Lao People's Democratic Republic                     4073
Latvia                                               3993
Lebanon                                              4039
Lesotho                                              4118
Liberia                                              4030
Libyan Arab Jamahiriya                               4107
Liechtenstein                                        4105
Lithuania                                            4051
Luxembourg                                           4065
Macao                                                4193
Macedonia                                            4061
Madagascar                                           4081
Malawi                                               4082
Malaysia                                             4057
Maldives                                             4060
Mali                                                 4065
Malta                                                3984
Marshall Islands                                     4073
Martinique                                           4125
Mauritania                                           4074
Mauritius                                            4046
Mayotte                                              4074
Mexico                                               4030
Micronesia                                           4024
Moldova                                              4036
Monaco                                               4039
Mongolia                                             4094
Montenegro                                           3930
Montserrat                                           4149
Morocco                                              4021
Mozambique                                           4013
Myanmar                                              4080
Namibia                                              4074
Nauru                                                3951
Nepal                                                3970
Netherlands                                          3985
Netherlands Antilles                                 4120
New Caledonia                                        4112
New Zealand                                          4035
Nicaragua                                            4176
Niger                                                4046
Nigeria                                              4077
Niue                                                 4174
Norfolk Island                                       4182
Northern Mariana Islands                             4081
Norway                                               3944
Oman                                                 4071
Pakistan                                             4153
Palau                                                4109
Palestinian Territory                                3975
Panama                                               3975
Papua New Guinea                                     4073
Paraguay                                             4130
Peru                                                 4105
Philippines                                          4127
Pitcairn Islands                                     4185
Poland                                               4102
Portugal                                             4169
Puerto Rico                                          4116
Qatar                                                4076
Reunion                                              4180
Romania                                              4085
Russian Federation                                   4109
Rwanda                                               4057
Saint Barthelemy                                     4129
Saint Helena                                         4144
Saint Kitts and Nevis                                4040
Saint Lucia                                          4083
Saint Martin                                         4108
Saint Pierre and Miquelon                            4066
Saint Vincent and the Grenadines                     4149
Samoa                                                4149
San Marino                                           4104
Sao Tome and Principe                                4129
Saudi Arabia                                         4104
Senegal                                              4159
Serbia                                               4077
Seychelles                                           4061
Sierra Leone                                         4116
Singapore                                            4154
Slovakia (Slovak Republic)                           4053
Slovenia                                             4283
Solomon Islands                                      4025
Somalia                                              4126
South Africa                                         3950
South Georgia and the South Sandwich Islands         4107
Spain                                                4107
Sri Lanka                                            4032
Sudan                                                4037
Suriname                                             4032
Svalbard & Jan Mayen Islands                         4027
Swaziland                                            4042
Sweden                                               4058
Switzerland                                          4183
Syrian Arab Republic                                 4027
Taiwan                                               3996
Tajikistan                                           4210
Tanzania                                             4126
Thailand                                             4115
Timor-Leste                                          4115
Togo                                                 3955
Tokelau                                              4079
Tonga                                                4062
Trinidad and Tobago                                  4170
Tunisia                                              4118
Turkey                                               4097
Turkmenistan                                         4073
Turks and Caicos Islands                             4080
Tuvalu                                               3929
Uganda                                               4031
Ukraine                                              4164
United Arab Emirates                                 4043
United Kingdom                                       4118
United States Minor Outlying Islands                 4169
United States Virgin Islands                         4043
United States of America                             4048
Uruguay                                              4034
Uzbekistan                                           3986
Vanuatu                                              4018
Venezuela                                            4013
Vietnam                                              3987
Wallis and Futuna                                    4083
Western Sahara                                       4168
Yemen                                                4099
Zambia                                               4156
Zimbabwe                                             4055