In [1]:
import os

In [2]:
os.getcwd()

'/home/dev/Documents/pythonDataAnalysis'

# Creating a dataFrame from an array

In [1]:
import pandas as pd
import numpy as np

In [2]:
my_array_data = [[4,5,1], [44,4,4], [3,3,44]]

In [4]:
numpy_array = np.array(my_array_data)
numpy_array

array([[ 4,  5,  1],
       [44,  4,  4],
       [ 3,  3, 44]])

In [10]:
array_dataframe = pd.DataFrame(numpy_array, index=['one', 'two', 'three'],
                              columns=['column_1', 'column_2', 'column_3'])
array_dataframe

       column_1  column_2  column_3
one           4         5         1
two          44         4         4
three         3         3        44