In [1]:
import os

In [2]:
os.getcwd()

'/home/dev/Documents/pythonDataAnalysis'

# Creating a dataFrame from an array

In [1]:
import pandas as pd
import numpy as np

In [2]:
my_array_data = [[4,5,1], [44,4,4], [3,3,44]]

In [4]:
numpy_array = np.array(my_array_data)
numpy_array

array([[ 4,  5,  1],
       [44,  4,  4],
       [ 3,  3, 44]])

In [11]:
array_dataframe = pd.DataFrame(numpy_array, index=['one', 'two', 'three'],
                              columns=['column_1', 'column_2', 'column_3'])
array_dataframe

       column_1  column_2  column_3
one           4         5         1
two          44         4         4
three         3         3        44

# Creating a dataFrame using a dictionary

In [13]:
countries = ['Angola', 'Nigeria', 'Botswana', 'South Africa']
population = [43000000, 100000000, 23000000, 60000000]
official_languages = [7, 10, 8, 12]

In [14]:
my_dictionary = {'Countries': countries, 
                 'Population': population, 
                 'Official Languages': official_languages
                }
my_dictionary

{'Countries': ['Angola', 'Nigeria', 'Botswana', 'South Africa'],
 'Population': [43000000, 100000000, 23000000, 60000000],
 'Official Languages': [7, 10, 8, 12]}

In [16]:
dictionary_dataframe = pd.DataFrame(my_dictionary)
dictionary_dataframe

      Countries  Population  Official Languages
0        Angola    43000000                   7
1       Nigeria   100000000                  10
2      Botswana    23000000                   8
3  South Africa    60000000                  12