# Preparing the dataset

In [33]:
# Importing some python libraries
import os
import numpy as np
import pandas as pd

In [34]:
os.getcwd() # Just getting current working directory

'/home/dev/Documents/pythonDataAnalysis'

## Getting the data set

In [71]:
# Organization data from a csv
org_csv_data = pd.read_csv('dataSets/organizations.csv')
# Users data from a csv
users_csv_data = pd.read_csv('dataSets/people-1000000.csv')
org_csv_data # Organization dataset

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,74fc6fDadF400Dc,"Wilcox, Griffith and Hawkins",https://tanner.com/,Cape Verde,Horizontal bi-directional artificial intelligence,1971,Professional Training,1550
1,2,4C119bee275d420,Griffin-Carey,https://levine-marks.com/,Reunion,Progressive maximized instruction set,2008,Investment Management / Hedge Fund / Private E...,4864
2,3,B47dbceC2CA3FF7,"Larson, Castaneda and Boone",http://www.ortiz.org/,South Africa,Decentralized dynamic attitude,1993,Music,7353
3,4,4Dcd663d47b37c1,"Good, Frazier and Peck",http://kane.info/,Congo,Intuitive actuating approach,2020,Information Technology / IT,2345
4,5,92BB0Be481BD1FC,Love Ltd,http://www.barrera.com/,Eritrea,Optional well-modulated budgetary management,1987,Recreational Facilities / Services,4574
...,...,...,...,...,...,...,...,...,...
999995,999996,46e2dEe2e2eA1ab,Gray Group,https://www.mcneil.com/,Turks and Caicos Islands,Vision-oriented tangible parallelism,2021,Supermarkets,6620
999996,999997,17695E14F523dfE,Lucas and Sons,https://www.nelson-potter.com/,Ireland,Advanced mission-critical archive,1990,Information Technology / IT,2511
999997,999998,BB77F9ec1EaF50c,Thomas LLC,http://www.blair.org/,Denmark,Balanced executive firmware,1983,Information Technology / IT,387
999998,999999,d565eFa362FAd4B,Dickson PLC,http://wright-duran.com/,Singapore,Object-based web-enabled function,2019,Music,2143
999999,1000000,E7F889e990DAF3F,Edwards PLC,http://petersen.com/,Nicaragua,Cross-group global architecture,2015,Museums / Institutions,2053

In [72]:
# Users dataset
users_csv_data.shape

(1000000, 9)

In [73]:
# Select random orders made by each user
orders = np.random.randint(50, 1001, 1000000)
orders

array([676, 515, 467, ..., 475, 843, 294])

In [74]:
# Add column orders to users data
users_csv_data['orders'] = orders
users_csv_data

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,orders
0,1,9E39Bfc4fdcc44e,Diamond,Dudley,Male,teresa26@example.org,922.460.8218x66252,1945-12-06,Photographer,676
1,2,32C079F2Bad7e6F,Ethan,Hanson,Female,ufrank@example.com,(458)005-8931x2478,1985-03-08,Actuary,515
2,3,a1F7faeBf5f7A3a,Grace,Huerta,Female,tiffany51@example.com,(720)205-4521x7811,1941-01-21,Visual merchandiser,467
3,4,c7Dd389CA514dce,Jillian,Bryant,Female,parkerstone@example.net,453-499-3870x793,1933-01-17,"Embryologist, clinical",449
4,5,eb3Dae1D4cd0A35,Warren,Simpson,Male,ryanmisty@example.com,958-772-8268x47673,2003-05-02,Armed forces training and education officer,345
...,...,...,...,...,...,...,...,...,...,...
999995,999996,3080fe8e2Cf298d,Louis,Morrow,Male,atkinsjody@example.com,544-586-1666x446,1979-12-08,Building services engineer,189
999996,999997,1Dc832dBc54cc0c,Brittney,Gillespie,Female,helenbray@example.org,860.931.6256x86403,1947-08-16,Senior tax professional/tax inspector,752
999997,999998,ad0dEfAf71D90Ff,Cory,Collins,Male,vernonleblanc@example.com,001-877-079-9583x9181,2006-01-23,"Optician, dispensing",475
999998,999999,BaaABECa3B0b7b9,Edward,Ramirez,Male,kgomez@example.net,+1-899-782-9850x80883,1940-10-19,Acupuncturist,843
999999,1000000,eBAadbbEBaeec20,Katrina,Cobb,Male,harrellfrederick@example.net,(622)120-4726x613,1917-12-07,Site engineer,294

# Pivot tables for users and organizations

## Organization pivot table

### Getting the evolution of all employees number per country over ther years

In [75]:
# Cleaning up null values from organizations data
org_csv_data.dropna(inplace = True)

In [76]:
org_csv_data = org_csv_data.pivot_table(index='Founded', columns='Country',
                                        values='Number of employees', 
                                        aggfunc='sum')
#

In [77]:
org_csv_data

Country,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antarctica (the territory South of 60 deg S),Antigua and Barbuda,Argentina,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis and Futuna,Western Sahara,Yemen,Zambia,Zimbabwe
Founded,,,,,,,,,,,,,,,,,,,,,
1970,376169,371677,430121,398451,407679,320581,319952,379893,344359,341689,...,355668,396358,462041,485412,367144,381046,311009,365221,312178,432184
1971,333139,433290,347079,501954,469431,460771,428118,334655,362722,456164,...,462605,347857,308387,473316,405072,427110,358353,372786,465332,400709
1972,376985,358075,417226,396708,393626,321394,430848,416307,402671,393569,...,354234,473468,421587,398996,303058,421003,398610,418501,454694,301589
1973,427422,394271,417336,409576,454906,378062,354624,330038,352521,468032,...,341388,376048,352766,295593,321557,501222,302100,433573,362997,407051
1974,384392,383068,328682,426969,376879,384008,342194,291261,331265,447458,...,344556,335810,348244,393948,365464,402319,405901,308042,513983,394092
1975,454131,361382,355763,361876,417998,485150,340384,397853,394765,423106,...,373051,363918,338399,400641,463809,388771,316440,287385,430589,310359
1976,323389,321192,398653,373668,444961,354270,357023,394612,369378,341689,...,347676,451944,437815,406030,397789,355188,452202,392116,350835,478327
1977,479579,435469,306860,329368,372801,351159,377333,362604,431801,356475,...,446019,391494,374281,440643,449177,337362,384038,381426,446597,304675
1978,345307,393858,351204,436706,409345,427918,393708,401497,476170,384441,...,378256,369078,396495,380911,355911,425545,407450,457764,310521,499622
1979,348088,380633,455822,441722,330074,389844,402591,381146,401490,483142,...,410259,400758,369932,293157,406086,251109,384446,420192,490644,428740
1980,444426,442230,364230,317848,369714,401666,386752,274056,323295,388178,...,349005,382017,516149,402101,446453,359050,451110,336254,373589,417338
1981,458763,332311,503070,384334,417968,418794,322022,397829,429516,350052,...,382983,325780,359777,440740,380477,426784,367875,275241,395300,302927
1982,421018,454658,344266,418570,405967,382650,301594,313402,391735,485545,...,481502,351054,267177,301953,378887,334096,413885,455297,445865,391347
1983,317926,409924,362488,386904,379050,436095,423475,400991,401137,447588,...,352487,408150,394431,442336,366370,296274,369823,444087,425920,283745
1984,345616,345912,350409,428276,254305,487995,462073,288208,351909,313275,...,344448,376047,361750,435465,301021,372653,391024,402458,366330,433800
1985,413499,330269,420395,433997,470097,449290,345850,371829,470056,402729,...,300122,448946,433683,426109,375203,463133,461278,401288,316234,314418
1986,406486,335324,369629,351024,302242,331517,347568,431911,453044,475005,...,513804,359676,377912,442615,306687,463039,371995,299271,506225,439371
1987,373570,324016,342141,381440,442567,472806,401379,374578,436183,424325,...,340056,351801,409146,321834,400270,436473,410824,483268,346761,428893
1988,375323,414048,282832,286010,305707,392481,459138,325495,399336,384883,...,327109,369143,306061,361392,422347,399740,369980,391126,441686,361321
1989,408328,361700,328542,319625,410013,379463,529373,365369,499560,390887,...,308204,349122,403768,369847,365838,479940,439601,390487,395173,442975
1990,440090,410592,448691,422538,426155,420142,430935,313971,428306,347378,...,427234,289361,295711,382382,426265,492140,430090,328433,301909,280079
1991,368367,437841,276657,363870,332948,354247,336930,330655,386723,343073,...,410646,458067,379355,434714,480192,324471,410679,410933,396799,389372
1992,356563,428814,317581,387730,332100,485315,433004,377523,448373,431643,...,428712,312988,450812,290910,333118,414490,390478,330515,479476,398317
1993,394150,434191,369089,350397,370185,396526,442939,415439,407896,396248,...,373769,305594,348473,293409,489656,405633,447005,370912,363630,452778
1994,354326,386975,401568,403639,351356,409268,485946,367122,405405,387831,...,378238,411570,465085,477027,338837,304196,486586,337341,490232,468494
1995,372743,345485,358503,413310,399907,390073,468459,405480,325422,351587,...,329559,361081,435043,356546,371093,330951,386978,387874,386506,376142
1996,368922,429589,369283,453443,374719,411159,386692,373005,321537,385737,...,310817,370439,429265,424714,413475,293385,349590,418498,469421,374312
1997,454145,337584,451945,353736,499681,399340,365261,434752,339787,474346,...,375330,337457,494945,411195,367030,428191,507798,362209,437330,369494
1998,536652,379710,368382,371409,354404,365402,329766,395580,418330,368477,...,398178,384996,453555,382112,353634,394979,394357,408391,390715,382295
1999,413806,314367,389434,305976,362156,450426,382560,377517,398753,451275,...,311839,454107,327045,391705,376983,371697,335340,386469,440390,369131
2000,454613,388981,356942,362287,378800,394082,384498,389506,477075,376556,...,363421,420821,435081,385750,421018,289000,458439,417494,386594,451499
2001,447932,387390,349454,355450,386346,315942,439376,425965,399722,352119,...,400460,333213,307018,370624,345743,331477,440943,449835,429211,441814
2002,430842,294493,320459,387831,358684,451082,403953,400149,418278,393480,...,368916,352359,271960,254241,347859,447849,403485,362965,374856,363733
2003,424521,386437,378477,463991,398966,325759,435409,451330,423589,497994,...,384001,397891,431234,387133,336316,484627,428827,440393,386870,348165
2004,400087,298171,391586,414561,437766,416334,385125,470218,465536,386952,...,393938,284425,362694,352788,370701,467036,408364,413939,378613,420336
2005,471349,343013,429397,396468,412422,296664,419652,412475,298741,375571,...,421680,350839,356698,398872,320753,386040,383836,343112,410873,349518
2006,415085,399141,312285,409973,383277,300775,427984,443059,397376,379205,...,409021,445532,302587,472802,399499,399022,326052,391201,313694,381623
2007,333039,338690,416479,291475,466042,326752,315328,383084,378612,344276,...,366924,402215,381565,442197,337581,303527,400647,445686,393523,349715
2008,298866,417527,321461,505828,374526,486804,444194,423371,388702,344723,...,354035,490143,412359,430366,354908,392817,367864,445690,337127,453519
2009,313373,421286,453429,374291,509314,348323,441581,386364,389113,354470,...,361431,389709,333742,365413,353590,408937,401872,338543,364646,414566
2010,476371,362653,387047,444012,414871,419796,390075,389695,481685,361359,...,398615,379074,366977,378947,312082,314423,329336,353794,394691,327991
2011,365864,405582,365116,344486,404892,320462,342341,455147,386579,458283,...,329874,383026,409998,397079,359534,464630,389054,464461,411326,423448
2012,299468,392128,348294,369981,399944,309829,379702,449872,450728,360247,...,462800,344112,321067,280067,452344,563782,399469,487928,490929,424404
2013,390354,375850,439477,307621,441350,342043,388766,369875,475040,423523,...,377385,442685,325043,405661,423130,395786,432253,321219,431885,412350
2014,406034,462995,406909,406805,393092,403887,360864,331228,366522,402688,...,378092,304365,278749,354346,386134,427390,460698,303468,302620,420381
2015,361137,316557,422572,431837,453677,433895,360268,367640,472093,365079,...,443001,339426,530592,436263,333809,323803,412997,320786,397429,361255
2016,335768,344062,428234,378478,414684,424531,402876,345983,436527,377232,...,464902,416579,440988,403854,424236,434772,309113,341935,393456,378898
2017,366606,395215,409961,333977,377091,342907,406370,381882,382138,351467,...,394943,473908,329228,458889,380016,378348,417129,410850,410160,313378
2018,394187,402514,360346,386909,446728,505033,415185,440954,387586,339128,...,378595,393609,455347,371290,377874,403255,361150,517379,348743,337615
2019,351901,377236,470272,425002,423657,348663,325756,420117,354849,357534,...,441944,473727,346947,281915,339433,403481,370623,468896,447918,413138
2020,334202,310469,287745,338754,443965,400775,425559,402739,369644,309229,...,365959,337941,367201,364083,405210,414586,317388,396830,347753,378567
2021,445406,411980,412833,350545,451729,402178,328821,314699,437837,423087,...,536928,425512,344716,374373,378835,452506,414627,385261,298595,362891
2022,109609,89573,180378,95906,170538,156076,143971,151249,166664,98766,...,160999,144321,145201,171701,108524,180459,163481,181486,156949,149719

In [78]:
org_csv_data = org_csv_data.iloc[:, :6] # Getting first six columns
org_csv_data

Country  Afghanistan  Albania  Algeria  American Samoa  Andorra  Angola
Founded
1970          376169   371677   430121          398451   407679  320581
1971          333139   433290   347079          501954   469431  460771
1972          376985   358075   417226          396708   393626  321394
1973          427422   394271   417336          409576   454906  378062
1974          384392   383068   328682          426969   376879  384008
1975          454131   361382   355763          361876   417998  485150
1976          323389   321192   398653          373668   444961  354270
1977          479579   435469   306860          329368   372801  351159
1978          345307   393858   351204          436706   409345  427918
1979          348088   380633   455822          441722   330074  389844
1980          444426   442230   364230          317848   369714  401666
1981          458763   332311   503070          384334   417968  418794
1982          421018   454658   344266          418570   405967  382650
1983          317926   409924   362488          386904   379050  436095
1984          345616   345912   350409          428276   254305  487995
1985          413499   330269   420395          433997   470097  449290
1986          406486   335324   369629          351024   302242  331517
1987          373570   324016   342141          381440   442567  472806
1988          375323   414048   282832          286010   305707  392481
1989          408328   361700   328542          319625   410013  379463
1990          440090   410592   448691          422538   426155  420142
1991          368367   437841   276657          363870   332948  354247
1992          356563   428814   317581          387730   332100  485315
1993          394150   434191   369089          350397   370185  396526
1994          354326   386975   401568          403639   351356  409268
1995          372743   345485   358503          413310   399907  390073
1996          368922   429589   369283          453443   374719  411159
1997          454145   337584   451945          353736   499681  399340
1998          536652   379710   368382          371409   354404  365402
1999          413806   314367   389434          305976   362156  450426
2000          454613   388981   356942          362287   378800  394082
2001          447932   387390   349454          355450   386346  315942
2002          430842   294493   320459          387831   358684  451082
2003          424521   386437   378477          463991   398966  325759
2004          400087   298171   391586          414561   437766  416334
2005          471349   343013   429397          396468   412422  296664
2006          415085   399141   312285          409973   383277  300775
2007          333039   338690   416479          291475   466042  326752
2008          298866   417527   321461          505828   374526  486804
2009          313373   421286   453429          374291   509314  348323
2010          476371   362653   387047          444012   414871  419796
2011          365864   405582   365116          344486   404892  320462
2012          299468   392128   348294          369981   399944  309829
2013          390354   375850   439477          307621   441350  342043
2014          406034   462995   406909          406805   393092  403887
2015          361137   316557   422572          431837   453677  433895
2016          335768   344062   428234          378478   414684  424531
2017          366606   395215   409961          333977   377091  342907
2018          394187   402514   360346          386909   446728  505033
2019          351901   377236   470272          425002   423657  348663
2020          334202   310469   287745          338754   443965  400775
2021          445406   411980   412833          350545   451729  402178
2022          109609    89573   180378           95906   170538  156076

## Users pivot table

### Getting the total number of orders made by gender per job title

In [80]:
# Cleaning up null values from users data
users_csv_data.dropna(inplace = True)
users_csv_data

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,orders
0,1,9E39Bfc4fdcc44e,Diamond,Dudley,Male,teresa26@example.org,922.460.8218x66252,1945-12-06,Photographer,676
1,2,32C079F2Bad7e6F,Ethan,Hanson,Female,ufrank@example.com,(458)005-8931x2478,1985-03-08,Actuary,515
2,3,a1F7faeBf5f7A3a,Grace,Huerta,Female,tiffany51@example.com,(720)205-4521x7811,1941-01-21,Visual merchandiser,467
3,4,c7Dd389CA514dce,Jillian,Bryant,Female,parkerstone@example.net,453-499-3870x793,1933-01-17,"Embryologist, clinical",449
4,5,eb3Dae1D4cd0A35,Warren,Simpson,Male,ryanmisty@example.com,958-772-8268x47673,2003-05-02,Armed forces training and education officer,345
...,...,...,...,...,...,...,...,...,...,...
999995,999996,3080fe8e2Cf298d,Louis,Morrow,Male,atkinsjody@example.com,544-586-1666x446,1979-12-08,Building services engineer,189
999996,999997,1Dc832dBc54cc0c,Brittney,Gillespie,Female,helenbray@example.org,860.931.6256x86403,1947-08-16,Senior tax professional/tax inspector,752
999997,999998,ad0dEfAf71D90Ff,Cory,Collins,Male,vernonleblanc@example.com,001-877-079-9583x9181,2006-01-23,"Optician, dispensing",475
999998,999999,BaaABECa3B0b7b9,Edward,Ramirez,Male,kgomez@example.net,+1-899-782-9850x80883,1940-10-19,Acupuncturist,843
999999,1000000,eBAadbbEBaeec20,Katrina,Cobb,Male,harrellfrederick@example.net,(622)120-4726x613,1917-12-07,Site engineer,294

In [81]:
users_csv_data = users_csv_data.pivot_table(index='Sex', columns='Job Title',
                               values='orders',
                               aggfunc='sum')
users_csv_data # Displaying the pivot table

Job Title,Academic librarian,Accommodation manager,"Accountant, chartered","Accountant, chartered certified","Accountant, chartered management","Accountant, chartered public finance",Accounting technician,Actor,Actuary,Acupuncturist,...,Volunteer coordinator,Warden/ranger,Warehouse manager,Waste management officer,Water engineer,Water quality scientist,Web designer,Wellsite geologist,Writer,Youth worker
Sex,,,,,,,,,,,,,,,,,,,,,
Female,414796,403216,403925,432907,424172,407398,414617,412029,419382,402038,...,415445,421387,383652,401650,390683,404505,391604,414525,383146,407554
Male,386701,409252,410308,420900,372348,412816,415087,399789,373596,415746,...,416004,421113,414557,382985,397581,406899,388091,440344,402075,389700

# Data visualization for users and organisations data